.futura-social-icons {
  min-height: 6vh;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap-reverse;
  justify-content: center;
  background: white;
}

.futura-social-icons-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.futura-social-icons .texto_radio_futura {
  display: flex;
  font-size: 3em;
}

.futura-social-icons span {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
}

.futura-social-icons a {
  color: #eec1d8 !important;
  margin-right: .75ex;
  margin-left: .75ex;
}

.futura-social-icons .td-icon-font {
  font-size: 3vh!important;
}

.futura-social-icons .td-icon-font:hover {
  color: #282828 !important;
}
