.futura-links-container {
    height: 16vw;
    width: 16vw;
}

.futura-link {
    position: absolute;
    display: inline-block;
}

.futura-link.sir {
    left: 21%;
    bottom: 0;
    transform: scale(.9);
}

.futura-link.farco {
    left: 12.5%;
    transform: scale(1.25);
}

.futura-link.agencia-farco {
    bottom: 0;
}

.futura-link:hover {
    z-index: 1;
}

.futura-link a:hover {
    transform: scale(1.1);
}

.futura-link a {
    height: 8vw;
    width:  8vw;
    margin: .5vw;
    display: inline-block;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .25s;
}
