.futura-links-container {
    height: 25vw;
    width: 25vw;
}

@media screen and (max-width: 600px) {
  .futura-links-container {
      height: 75vw;
      width: 75vw;
  }
}

.futura-link {
    height: 40%;
    width:  40%;
    position: absolute;
    display: inline-block;
}

.futura-link:hover {
    z-index: 1;
}

.futura-link a {
    height: 100%;
    width:  100%;

    margin: .5vw;
    display: inline-block;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .25s;
}

.futura-link a:hover {
    transform: scale(1.1);
}


.futura-link.farco {
    left: 30%;
    transform: scale(1.25);
}

.futura-link.agencia-farco {
    top: 30%;
    left: 15%;
}

.futura-link.sir {
    top: 35%;
    left: 40%;
}


.futura-round-link a,
.futura-round-link-wrapper a,
a.futura-round-link,
.futura-links-botones a,
a.futura-links-botones
{
    color: var(--button-text-color, #222222) !important;
    border-color: var(--button-color, #f6aec5);
    background-color: var(--button-color, #f6aec5);

    display: inline-block;
    margin: .1em;

    border-radius: .5rem;
    border-width: 1rem;
    border-left-style: solid;
    border-right-style: solid;

    text-align: center;
    text-decoration: none !important;
    font-family: 'Suez One' !important;
}


.wp-block-button,
.wp-block-button * {
    font-family: 'Suez One' !important;
}

.futura-round-button {

}
