.tdm-descr {
  font-family: 'Bebas Neue' !important;
  font-size: xxx-large !important;
}

.futura-tags {
  overflow: hidden;
  white-space: nowrap;
  background: white;
}

.futura-tag {
  white-space: nowrap;
}

@media(max-width: 1366px) {
  .futura-tags {
    white-space: normal;
  }
}
